<div class="checkout-wrapper">
  <div  ng-repeat="item in user.user.data.cart"
        class="checkout-product">
    <div class="image-left">
      <img ng-src="{{item.product.pictures[0]}}">
    </div>
    <div class="product-details">
      <div class="name">
        {{item.product.name}}
        <a href="javascript:void(0);">
          <span ng-click="removeProduct(item)" class="checkout-remove">
          <span class="fa fa-times" aria-hidden="true">remove</span></span>
      </div>
      <div class="price">
        {{item.product.displayPrice}}
      </div>
      <div class="quantity">
        Quantity:
        <input type="number" ng-model="item.quantity" ng-change="displayUpdate()" />
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="update-cart-button" ng-click="updateCart()" ng-disable="!canAdd">
    Update Cart
  </div> <div ng-show="toShow">Press update cart</div>
  <div>
    <a href="/#/" class="update-cart-button">Back to Shopping</a>
  </div>
  <div class="checkout">
    <h1>
      <i class="fa fa-credit-card"></i>
      Payment
    </h1>
    <div class="credit-card-input">
      Cash On Delivery:
    </div>
    <br/>
    <div>
      Mobile Number:
      <input type="text" placeholder="+91" ng-model="userPhone"/>
    </div>
    <br/>
    <div>
      Address:
      <!-- <input type="text" ng-model="userAddress"/> -->
      <textarea name="textfield" ng-model="userAddress" style="margin-left: 50px;width: 200px; height: 70px;"></textarea>
    </div>
    <div class="checkout-button" ng-click="checkout()">
      Check Out
    </div>
    <div class="checkout-error" ng-show="error">
      {{error}}
    </div>
    <div class="checkout-success" ng-show="checkedOut">
      Checked out successfully!
    </div>
  </div>
</div>
